@import "../../Variables.scss";

.images-wrapper {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.imgSlider {
  width: 100vw;
  height: 30rem;
  object-fit: cover;
}

.imgWrapper {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;

  & > * {
    grid-area: stack;
  }
}

.btnWrapper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.imgBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
}

.imgBtnIcon {
  width: 1rem;

  &-left {
    transform: translateX(-0.2rem);
  }

  &-right {
    transform: translateX(0.2rem);
  }
}

.sm-img-wrapper {
  display: none;
}

.sm-img {
  max-width: 8.8rem;
  border-radius: 1rem;
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.color-swatches-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-primary-clr);
}

.shoe-color {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;

  &-standard {
    background-image: url(../../images/shoes/image-product-1-thumbnail.jpg);
  }

  &-blue {
    background-image: url(../../images/shoes/image-product-1-thumbnail-blue.jpg);
  }

  &-green {
    background-image: url(../../images/shoes/image-product-1-thumbnail-green.jpg);
  }

  &-red {
    background-image: url(../../images/shoes/image-product-1-thumbnail-red.jpg);
  }

  &-gray {
    background-image: url(../../images/shoes/image-product-1-thumbnail-gray.jpg);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.active {
  border: 2px solid var(--primary-clr);
  opacity: 0.5;
}

@media (min-width: 33.5em) {
  .imgSlider {
    width: 90vw;
    height: 40rem;
  }

  .btnWrapper {
    padding: 0 5.6rem;
  }

  .color-swatches-wrapper {
    gap: 2rem;
  }

  .shoe-color {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 43.75em) {
  .imgSlider {
    height: 45rem;
  }
}

@media (min-width: 56.25em) {
  .sm-img-wrapper {
    display: flex;
    gap: 3.1rem;
  }

  .imgSlider {
    width: 44.5rem;
    border-radius: 1.5rem;
  }

  .btnWrapper {
    display: none;
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}
