@media (min-width: 56.25em) {
  .main {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin-top: 6.5rem;
  }

  .wrapper {
    margin: auto auto;
    max-width: 90vw;
    overflow: hidden;
  }
}
